<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Find My Book</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="jumbotron" align="center" style="margin-top: 50px;">
        <h1>Terminou seu livro ?</h1>

        <h2>bora trocar ?</h2>

        <div class="mx-auto" style="width: 200px;">
            </br>
            </br>
        </div>

        <div align="center">
            <a class="btn btn-lg btn-primary" data-toggle="collapse" href="#cadastroLivros" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tenho Livros pra trocar!</a>
            <a class="btn btn-lg btn-primary" data-toggle="collapse" href="#buscarLivros" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Quero ver os Livros!</a>
        </div>
    </div>

    <div class="collapse multi-collapse" id="cadastroLivros">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
    <div class="collapse multi-collapse" id="buscarLivros">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>